.root {
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
    -fx-background-color: #D8EFED; /* Light background for freshness */
    -fx-border-color: #005B6A; /* Adding a subtle border around the app */
    -fx-border-width: 9; /* Defined border width */
    -fx-border-style: solid; /* Solid border style */
}

.title {
    -fx-font-size: 26px; /* Slightly larger font size for prominence */
    -fx-font-family: 'Courier New', Courier, monospace; /* More distinct font */
    -fx-font-weight: bold;
    -fx-text-fill: #345995; /* Strong but not overwhelming blue */
    -fx-background-color: linear-gradient(to bottom, #cae8d5 0%, #a7d8c9 100%);
    -fx-padding: 10; /* Padding around text for better visibility */
    -fx-background-radius: 10; /* Rounded corners for the background */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0); /* More pronounced shadow for depth */
}

.function-button {
    -fx-font-size: 16px; /* Standard font size for buttons */
    -fx-font-family: 'Segoe UI', Arial, sans-serif; /* Consistent font family */
    -fx-background-color: linear-gradient(to bottom, #cae8d5 0%, #a7d8c9 100%); /* Gradient similar to other elements */
    -fx-background-radius: 5; /* Rounded button corners */
    -fx-border-color: #005B6A; /* Coordinated border color */
    -fx-border-width: 1; /* Standard border width */
    -fx-border-style: solid; /* Solid border style */
    -fx-text-fill: #345995; /* Text color matching the title */
    -fx-padding: 10 20 10 20; /* Padding for larger clickable area */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0); /* Subtle shadow for depth */
}

.function-button:hover {
    -fx-background-color: linear-gradient(to bottom, #a7d8c9 0%, #cae8d5 100%); /* Inverse gradient on hover */
    -fx-text-fill: #262626; /* Darker text on hover for better visibility */
}
